.cartItemContainer {
    list-style-type: none;
    
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: .3fr 2fr 5fr 3fr;
    gap: 1rem;
    padding: 1rem 0;
}

.itemQuantityDescAndNumber {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}


.itemCount {
    align-self: center;
    justify-self: center;
    
}

.itemCountChangeContainer {
    display: flex;
    gap: .2rem;
    align-items: center;
}

.itemName {
    text-decoration: underline;
}

.itemImage {
    object-fit: contain;
    align-self: center;
    width: 100%;
}

.itemCountAndPrice {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-self: flex-end;
}

.incrementBtn, .decrementBtn {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.deleteBtn {
    align-self: flex-start;
    border-radius: 15px;
    cursor: pointer;
    padding: .3rem;
}

.itemPriceDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.totalItemPrice {
    align-self: flex-end;
}