.homeMain {
    color: white;
    max-width: 1366px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
}

.imgAndDescriptCont {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    gap: 1rem 3rem;
}

.descriptTitle {
    font-size: 2rem;
    text-decoration: underline;
    padding-bottom: 1rem;
    text-underline-offset: .7rem;
    line-height: 3rem;
}

.descriptContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    line-height: 1.7rem;
    height: 100%;
    max-width: 500px;
}

.descriptPara {
    word-spacing: .3rem;
}

.imgCarousel {
    position: relative;
    overflow: hidden;
}

.cardsImages {
    position: relative;
    top: 0;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
    transform: translateX(100%);
   
    /* animation: 3s rightToLeft ease-out infinite; */

}

.dots {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 0 auto;
    align-self: center;
}

.dot {
    width: 30px;
    height: 10px;
    background-color: rgb(198, 132, 236);
    border-radius: 1000px;
}

.activeDot {
    
    animation: 3s darken ease-out forwards;
}

.prevCardImg {
    position: absolute;

    top: 0;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
    /* animation: 3s clear ease-out infinite; */
}

.toggleAnimation {
    animation: 3s rightToLeft ease-out;
}

.toggleClear {
    animation: 3s clear ease-out;
}

.middleSect {
    margin: 3rem;
}

.middleSectListContainer {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem 0;
}

.sectListItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 300px;
    flex-basis: 250px;
    margin: 0 auto;
}

.sectListItem h3 {
    border-bottom: 2px solid gray;
    padding-bottom: 1rem;
}

.sectListItem p {
    line-height: 1.7rem;
}

@keyframes rightToLeft {
    from {
        transform: translateX(100%);
        opacity: 1;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
    
}

@keyframes clear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes darken {
    from {
        background-color: rgb(198, 132, 236);
    }

    to {
        background-color: black;
    }
}





