* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'DynaPuff';
}

@font-face {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 100;
  src: url();
}